<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean id="bpmDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<property name="driverClassName" value="${BPM_DATABASE_DRIVER}" />
		<property name="jdbcUrl" value="${BPM_DATABASE_URL}" />
		<property name="username" value="${BPM_DATABASE_USERNAME}" />
		<property name="password" value="${BPM_DATABASE_PASSWORD}" />
	</bean>

</beans>
